{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
	Área Administrativa
{% endblock %}

{% block page_actions %}
	<a class="btn btn-primary" href="...">Adicionar Postagem</a>
{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-6">
			<h3>Últimas Notícias</h3>
			<ol>
				{% for new in lastNews %}
					<li class="mb-2">
						<a target="_blank" href="{{ path('news_show', {'new' : new.id}) }}">{{ new.title }}</a>
					</li>
				{% endfor %}
			</ol>
		</div>
	</div>
{% endblock %}
